/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('./theme.css');

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-semibold);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
}

@font-face {
  font-family: Inter;
  font-weight: var(--ifm-font-weight-semibold);
  font-style: normal;
  font-display: swap;
  src: url('/font/inter/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

@font-face {
  font-family: Roboto Mono;
  font-weight: var(--ifm-font-weight-normal);
  font-style: normal;
  font-display: swap;
  src: url('/font/roboto/L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2') format('woff2');
  unicode-range: 'U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;';
}

/* generics */

:root:root {
  --ifm-font-family-base: var(--fontFamily);
  --ifm-font-family-monospace: var(--fontFamilyMonospace);
  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);
  --ifm-line-height-base: var(--body-lineHeight);
  --ifm-avatar-intro-margin: 0.5rem;
  --ifm-button-border-radius: 0;
}

/* theme colors */

html[data-theme='dark'] {
  --grafana-gradient-brand-vertical: var(--gradients-brandVertical);
  --ifm-background-color: var(--background-canvas);
  --ifm-card-background-color: var(--background-primary);
  --ifm-card-border-radius: 0;
  --ifm-code-background: var(--background-secondary);
  --ifm-color-danger: var(--error-main);
  --ifm-color-info: var(--info-main);
  --ifm-color-primary-dark: var(--warning-shade);
  --ifm-color-primary-darker: var(--warning-main);
  --ifm-color-primary: var(--text-primary);
  --ifm-color-secondary: var(--text-secondary);
  --ifm-color-success: var(--success-main);
  --ifm-color-warning: var(--warning-main);
  --ifm-link-color: var(--text-link);
  --ifm-link-focus-color: var(--text-link);
  --ifm-link-hover-color: var(--text-link);
  --ifm-navbar-background-color: var(--background-primary);
  --ifm-pagination-nav-color-hover: var(--text-link);
  --ifm-background-surface-color: var(--background-primary);
  --ifm-pre-background: var(--background-secondary);
  --ifm-table-border-color: var(--background-primary);
  --ifm-table-stripe-background: var(--background-secondary);
  --ifm-tabs-color-active-border: var(--warning-main);
}

/* admonitions */

.alert--info {
  --ifm-alert-background-color-highlight: color-mix(in srgb, var(--info-shade), transparent 80%);
  --ifm-alert-background-color: color-mix(in srgb, var(--info-main), transparent 80%);
  --ifm-alert-border-color: color-mix(in srgb, var(--info-border), transparent 80%);
}

.alert--warning {
  --ifm-alert-background-color-highlight: color-mix(in srgb, var(--warning-shade), transparent 60%);
  --ifm-alert-background-color: color-mix(in srgb, var(--warning-main), transparent 60%);
  --ifm-alert-border-color: color-mix(in srgb, var(--warning-border), transparent 60%);
}

.alert--success {
  --ifm-alert-background-color-highlight: color-mix(in srgb, var(--success-shade), transparent 60%);
  --ifm-alert-background-color: color-mix(in srgb, var(--success-main), transparent 60%);
  --ifm-alert-border-color: color-mix(in srgb, var(--success-border), transparent 60%);
}

.alert--danger {
  --ifm-alert-background-color-highlight: color-mix(in srgb, var(--error-shade), transparent 70%);
  --ifm-alert-background-color: color-mix(in srgb, var(--error-main), transparent 70%);
  --ifm-alert-border-color: color-mix(in srgb, var(--error-border), transparent 70%);
}

/* cards */

.card {
  border: 1px solid var(--border-weak);
}

/* footer */

.footer.footer--dark {
  --ifm-footer-background-color: rgba(0, 0, 0, 0.45);
}

/* buttons */

.button--outline {
  --ifm-button-color: white;
  --ifm-button-border-color: white;
}

/* sidenav */

.menu__list-item-collapsible,
.menu__link {
  border-image: linear-gradient(var(--ifm-navbar-background-color), var(--ifm-navbar-background-color)) 1;
  border-left: 2px solid;
  border-radius: 0;
}

.menu__list-item-collapsible.menu__list-item-collapsible--active,
.menu__link--active:not(.menu__link--sublist) {
  background-color: transparent;
  border-image: var(--grafana-gradient-brand-vertical) 1;
}

/* captions */

.md-figure-block {
  margin: 0.5rem 0;
}

.md-figure-block img {
  display: block;
}

.md-figure-caption {
  color: var(--ifm-blockquote-color);
  font-size: 0.9rem;
  margin-bottom: var(--ifm-global-spacing);
}

/* Search (the chained `.algolia-autocomplete` are for specificity)  */
.navbar__search-input {
  outline-color: var(--primary-border);
}

/* Put little triangle infront of suggestions */
.algolia-autocomplete .ds-dropdown-menu [class^='ds-dataset-'] {
  z-index: 1;
}

/* hide dropdown footer */
.algolia-autocomplete .algolia-docsearch-footer {
  display: none;
}

/* dropdown triangle */
.algolia-autocomplete.algolia-autocomplete .ds-dropdown-menu:before {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  top: -14px;
  transform: none;
}

/* Set background for suggestions */
html[data-theme='dark'] .algolia-autocomplete .ds-with-1.ds-dropdown-menu:before {
  background: var(--ifm-background-color);
}

/* Matched words in results */
.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  border: 1px solid var(--background-secondary);
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  border-bottom-color: var(--primary-text);
}

.algolia-autocomplete.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: var(--warning-transparent);
  color: var(--primary-text);
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #63676d;
}

.algolia-autocomplete.algolia-autocomplete
  .algolia-docsearch-suggestion--text
  .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 var(--primary-border);
}

.algolia-autocomplete.algolia-autocomplete .ds-cursor .algolia-docsearch-suggestion--wrapper {
  box-shadow: inset -2px 0 0 var(--primary-shade);
}

.algolia-autocomplete.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  background-color: var(--background-secondary);
}

.algolia-autocomplete.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before,
.algolia-autocomplete.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  background: var(--ifm-toc-border-color);
}
