# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editor junk
*.sublime-workspace
*.swp
.idea/
.fleet/
*.iml
*.tmp
.DS_Store
.vscode/
!.vscode/launch.json
.vs/
.eslintcache
.cursor/

# Build
compiled
dist
node_modules
.docusaurus
build

.env

# turbo
.turbo
