/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  aspect-ratio: 3.01/1;
  background-image: url('/img/hero_banner.png');
  background-size: contain;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroSubtitle {
  border-left: 4px solid;
  border-image: var(--grafana-gradient-brand-vertical) 1;
}

@media screen and (min-width: 768px) {
  .heroBannerWrapper {
    line-height: 1.2;
    margin-left: 3rem;
    max-width: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .heroBannerWrapper {
    margin-left: 5rem;
    max-width: 40%;
  }
}
