name: Crowdin Download Action

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  download-sources-from-crowdin:
    uses: grafana/grafana-github-actions/.github/workflows/crowdin-download.yml@main
    with:
      crowdin_project_id: 34
      pr_labels: 'i18n'
      github_board_id: 928 # Dashboards edit project
